<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>This is home page</title>

</head>
<body>
      <section  >
             <div class="container">
                  <div class="row">
                       <div class="col-md-8 offset-md-2">

                           <div class="my-card">
                               <div th:if="${session.message}"  th:classappend="${session.message.type}" class="alert" role="alert">
                                   <p class="text-center" th:text="${session.message.content}"></p>
                                   <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                               </div>
                           <h1 class="text-center">Register Here !!</h1>

                           <form  novalidate action=""  th:action="@{/do_register}"  method="post" th:object="${user}">
<!--                                 name field -->
                               <div class="mb-3">
                                   <label for="name_field" >Your Name</label>
                                   <input name="name" type="text" class="form-control " th:classappend="${#fields.hasErrors('name') ? 'is-invalid' :''}"
                                          id="name_field" aria-describedby="emailHelp" placeholder="Enter here"
                                          required="required" th:value="${user.name}" >
                                   <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}"
                                      th:text="${e}">


                                   </div>

                               </div>

<!--                               email field   -->
                               <div class="mb-3">
                                   <label for="email_field" >Your Email</label>
                                   <input name="email" type="email" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' :''}"
                                          class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter here"

                                          required="required" th:value="${user.email}">
                                   <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}"
                                        th:text="${e}">
                               </div>


<!--                               password field   -->
                               <div class="mb-3">
                                   <label for="password_field" >Password</label>
                                   <input name="password"   type="password" class="form-control"
                                    th:classappend="${#fields.hasErrors('password') ? 'is-invalid' :''}" id="password_field" aria-describedby="emailHelp" placeholder="Enter here"
                                          required="required">
                                   <div class="invalid-feedback" th:each="e : ${#fields.errors('password')}"
                                        th:text="${e}">


                                   </div>

                               </div>
<!--                               about field-->
                               <div class="mb-3">
                                   <textarea name="about"  th:classappend="${#fields.hasErrors('about') ? 'is-invalid' :''}" th:text="${user.about}"  placeholder="Enter something about yourself" rows="8" class="form-control"></textarea>
                                   <div class="invalid-feedback" th:each="e : ${#fields.errors('about')}"
                                        th:text="${e}">

                                   </div>

<!--                               terms and condition agreement-->
                               <div class="mb-3 form-check">
                                   <input type="checkbox" name="agreement" class="form-check-input" id="agreement">
                                   <label for="agreement">Accept terms and conditions</label>



                               </div>
                               <div class="container text-center">
                                   <button type="submit"  class="btn bg-primary text-white">
                                       Submit
                                   </button>

                                   <button type="reset" class="btn bg-warning ">
                                       Reset
                                   </button>

                               </div>









                           </form>





                           </div>
                       </div>
                  </div>
             </div>



      </section>
</body>
</html>